@media (min-width: 767.98px) {
    .headerLogo {
        margin-right: 15px;
        margin-left: 5px;
    }
}

@media (max-width: 767.98px) {
    p.mobile-text {
        font-size: .7em;
    }
    h1.mobile-text {
        font-size: 1.5rem;
    }
}

/* Width that goes to mobile nav */
@media (max-width: 991.8px) {
    .social-nav-links{
        display:none;
    }
}

#signalInsignia {
   max-height: 450px;
   width: auto;
   height: 50vw;
}

@media (max-width: 960px) {
    .navbar-brand {
        margin-right: 0rem;
        margin-left: 1.5rem;
    }
}

body {
    height:100vh;
}

.footer {
    bottom: 0;
    height: 45px;
    line-height: 45px;
    background-color: #f5f5f5;
    box-shadow: 2px 2px 8px #b8b8b8;
}

.wrapper.mb-5 {
    margin-bottom: 5rem !important;
}

/* 

.sigContain {
    background:transparent; 
    overflow:hidden; 
    width:100%; height:100vh; 
  }
  .sigContain, .signal {
    overflow: hidden;
    position: absolute;
    top: 0;  bottom: 0;  left: 0;  right: 0;
  }
  .signal {
      border:2px solid #dba800;
      border-radius:300px;
      top:200px; width:400px; height:400px;
      left:calc(50% - 200px);
      margin:0;
      opacity:0;
      position:absolute;
  }
  .s1 {animation: pulsate 8s ease-out 0s  infinite;  }
  .s2 {animation: pulsate 8s ease-out 2s  infinite;}
  .s3 {animation: pulsate 8s ease-out 4s  infinite;}
  .s4 {animation: pulsate 8s ease-out 6s  infinite;}
   
  @keyframes pulsate {
      0% { transform:scale(0.1); opacity: 0.0;}
      20% { opacity:0.2;}
      50% { opacity:0.4;}
      80% { opacity:0.1;}
      100% { transform:scale(5); opacity:0;}
  }

  */