@media (max-width: 767.98px) {
    h1.mobile-text {
     font-size: 1.5rem;
    }
   }

@media (max-width: 767.98px) {
    p.mobile-text {
        font-size: .7em;
    }
   }

#signalInsignia {
   max-height: 450px;
   width: auto;
   height: 50vw;
}

@media (max-width: 960px) {
    .navbar-brand {
        margin-right: 0rem;
        margin-left: 1.5rem;
    }
}

body {
    margin-bottom: 60px;
    height:100vh;
}

.footer {
    bottom: 0;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}